body {
    font-family: "monospace", monospace;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;
    background-color: #c5b2be;
}

h1 {
    font-size: 30px;
    color:#c5b2be;
}

h2 {
    font-size: 20px;
    color: #5661f7;
}

header.header-bg {
    background-image: url('images/f38525205685107.Y3JvcCw0NDg0LDM1MDcsMjMzLDA.png');
    background-size: cover; /* L'image couvre tout le header */
    background-position: center; /* Centrer l'image */
    height: 600px; /* Le header occupe toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(146, 95, 95); /* Assurez-vous que le texte est lisible */
}

header {
    font-family: "Courier New", monospace;
    color: #4f649f;
    padding: 10px 20px;
}

.header-title {
    flex: 9;
    text-align: center;
}

.header-image {
    flex: 10;
}

.header-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 40%; /* Rend l'image circulaire */
    border: 6px solid #c5b2be; /* Bordure autour de l'image */
}

img {
    margin: -10px;
    margin-left: 0px;
    max-width: 100%;
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 200%;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #9d9fb8;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    width: 100%;
    height: auto;
}

.project-item h3 {
    margin: 10px;
    font-size: 1.5em;
    color: #333;
}

.project-item p {
    margin: 10px;
    color: #666;
}

.project-item a {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 0 0 8px 8px;
}

.project-item a:hover {
    background-color: #0056b3;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #c5b2be;
    margin: auto;
}