body {
  font-family: "Syne", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
  background-color: #b0bce2;
}

h1 {
  font-size: 30px;
  color: #c3bec3;
}

h2 {
  font-size: 20px;
  color: #74a1d1;
  margin: 30px;
}

/* Style pour le header */
header {
  text-align: center;
  padding: 20px;
  background-color: #c3bec3;
}

header.header-bg {
  background-image: url("images/ufo-fantasy-5848285.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(146, 95, 95);
  padding: 0 20px;
}

.header-title {
  flex: 1;
  text-align: left;
}

.header-image {
  flex: 0 0 auto;
  margin-left: auto;
}

.header-image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 40%;
  border: 2px solid #9d9fb8;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 95%;
}

nav ul li {
  display: inline;
  justify-content: center;
  margin: 0 10px;
}

nav ul li a {
  color: #9d9fb8;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 10px;

/* Autres sections */
.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.github {
  margin: 10px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100px;
}

.skill img {
  width: 60px;
  height: auto;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project-item {
  min-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.project-item img {
  width: 60%;
  height: auto;
}

.project-item h3 {
  margin: 10px;
  font-size: 1.5em;
  color: #333;
}

.project-item p {
  margin: 10px;
  color: #666;
}

.project-item a {
  display: inline-block;
  margin: 25px auto;
  padding: 7px;
  background-color: #74a1d1;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px 5px 3px 20px;
  text-align: center;
  width: 115px;
}

.project-item a:hover {
  background-color: #918591;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b0bce2;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  font-size: 2em;
  padding: 0 0.5em;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel-btn prev {
  opacity: 0.2;
}

.carousel-container:hover .carousel-btn {
  opacity: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.pause {
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  background-color: #c3bec3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  position: absolute;
}
}

/* Responsiveness */
@media (max-width: 1050px) {
  header.header-bg {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .header-title {
    text-align: center;
    margin-bottom: 10px;
  }

  .header-image {
    margin: 0;
  }

  .header-image img {
    width: 80px;
    height: 80px;
  }

  nav ul {
    flex-direction: row;
    font-size: 95%;
    gap: 10px;
  }

  h2 {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  header.header-bg {
    flex-direction: column;
    align-items: center;
  }

  .header-title h1{
    font-size: 10px;
    margin-top: -10px;
    margin-bottom: 50px;
  }

  h2 {
    font-size: 8px;
  }

  .header-image img {
    width: 66px;
    height: 66px;
  }

  nav ul {
    flex-direction: row;
    font-size: 75%;
  }
}
