/* Corps général et image de fond */
body {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
  background: #ebe1d5
    center;
  background-size: cover;
}

/* Drapeaux de langue */
.language-switch {
  list-style: none; /* Supprime le style de liste si jamais */
  display: flex; /* Pour aligner les drapeaux en ligne */
  gap: 10px; /* Espace entre les drapeaux */
}

.language-switch img {
  transition: box-shadow 0.2s ease-in-out;
}

.language-switch img:hover {
  box-shadow: 0 0 15px rgba(76, 186, 220, 0.8); /* Ajoute un effet lumineux */
  border-radius: 5px; /* Arrondi les bords */
}


/* Styles pour le header */
header {
  text-align: center;
  align-items: center;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}

.header-bg {
  margin-top: 325px;
}

.header-title {
  flex: 1;
  text-align: left;
}

.header-image img {
  margin: 35px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 2%;
  box-shadow: 0 0 50px #74a1d1;
}

/* Navigation */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 25px;
  font-size: 20px;
}

nav ul li a {
  color: #823f9f; /* Couleur de base si le navigateur ne supporte pas les gradients */
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgb(72, 103, 205),
    #823f9f
  ); /* Dégradé horizontal */
  -webkit-background-clip: text; /* Affiche le dégradé à travers le texte */
  -webkit-text-fill-color: transparent; /* Rend l'intérieur des lettres transparent */
}

a {
  color: #848489;
  text-decoration: none;
}

/* Icône de la langue */
.language-switch img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
}

/* Titres et paragraphes */

h1 {
  margin: 30px;
  font-size: 25px;
  font-weight: bold; /* Optionnel, pour un titre plus marqué */
  background: linear-gradient(
    90deg,
    #c3bec3,
    #666,
    #74a1d1
  ); /* Dégradé personnalisé */
  -webkit-background-clip: text; /* Affiche le dégradé à travers le texte */
  -webkit-text-fill-color: transparent; /* Rend l'intérieur des lettres transparent */
}

h2 {
  margin: 30px;
  font-size: 20px;
  color: #74a1d1;
}

p {
  color: #333c46;
  margin: 10px;
}

/* Liens des formations */
.link-schools-openclassrooms {
  color: rgb(116, 81, 235);
}

.link-schools-studi {
  color: #ffb527;
}

.link-schools-.link-schools-openclassrooms {
  color: rgb(116, 81, 235);
}

.link-schools-studi {
  color: #ffb527;
}

/* Sections des pages projets et contact */
section#skills {
  padding: 0px;
  margin: 50px;
}

section#contact {
  padding: 0px;
  margin: 20px;
}

#about p {
  color: #231f20;
  font-size: 16px;
  margin: 30px;
}

/* Compétences */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill img {
  width: 40px;
  height: auto;
}

/* Carrousel */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.project-item img {
  width: 35%;
  height: auto;
  border-radius: 20px;
}

.project-item h3,
.project-item p {
  margin: 10px;
  color: #231f20;
}

.project-item a {
  display: inline-block;
  margin: 25px auto;
  padding: 7px;
  background-color: #112942;
  color: #d1bfde;
  background: linear-gradient(
    90deg,
    rgb(72, 103, 205),
    #823f9f
  ); /* Dégradé horizontal */
  font-weight: bolder;
  text-decoration: none;
  border-radius: 10px 20px 10px 20px;
  text-align: center;
  width: 155px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  background-color: #eaf3fc;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 0.5em;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.carousel-btn.prev {
  left: 3;
  opacity: 0.5;
  background-color: transparent;
}

.carousel-btn.next {
  right: 3;
  opacity: 0.5;
  background-color: transparent;
}

.carousel-container:hover .carousel-btn {
  opacity: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Pause bouton */
.pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: #c3bec3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

/* Contact */
.map {
  width: 100%;
  max-width: 600px;
  height: 250px;
  border: 10px solid #666;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 20px auto;
}

form label {
  font-size: 15px;
  font-weight: bold;
  color: #823f9f;
}

form input,
form textarea,
form button {
  font-family: "Syne", sans-serif;
  font-size: 15px;
  padding: 10px;
  border: 4px solid #c3bec3;
  border-radius: 15px;
  outline: none;
}

form input:focus,
form textarea:focus {
  border-color: #823f9f;
  box-shadow: 0 0 5px #823f9f;
}

form button {
  background-color: #823f9f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #a065b3;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Footer */
#footer p {
  color: #231f20;
}

/* Responsiveness */

@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  .header-bg {
    margin-top: 205px;
  }

  h1 {
    margin: 80px;
    background: linear-gradient(
      90deg,
      #251e25,
      #666,
      #74a1d1
    ); /* Dégradé personnalisé */
    -webkit-background-clip: text; /* Affiche le dégradé à travers le texte */
    -webkit-text-fill-color: transparent; /* Rend l'intérieur des lettres transparent */
  }

  h2 {
    font-size: 15px;
    margin: 10px;
  }

  form {
    max-width: 300px;
  }

  p {
    font-size: 15px;
    margin: 5px;
  }

  .header-image img {
    margin: 30px;
    width: 175px;
    height: 175px;
  }

  nav ul {
    font-size: 18px;
    gap: 15px;
  }

  .language-switch img {
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 0px;
  }

  #about p {
    margin: 25px;
    font-size: 15px;
  }

  section#contact {
    padding: 0px;
    margin: 10px;
  }

  @media (max-width: 768px) {
    .header-bg {
      margin-top: 215px;
    }

    h1 {
      font-size: 20px;
      margin: 5px;
      background: linear-gradient(
        90deg,
        #251e25,
        #666,
        #74a1d1
      ); /* Dégradé personnalisé */
      -webkit-background-clip: text; /* Affiche le dégradé à travers le texte */
      -webkit-text-fill-color: transparent; /* Rend l'intérieur des lettres transparent */
    }

    h2 {
      font-size: 15px;
      font-weight: bolder;
      margin: 20px;
    }

    nav ul {
      font-size: 15px;
      gap: 10px;
    }

    nav ul li a {
      font-weight: bolder;
    }

    form label {
      font-size: 15px;
      font-weight: bolder;
      color: #823f9f;
    }
    .language-switch img {
      width: 20px;
      height: 20px;
      margin: 0px;
    }

    .header-image img {
      margin: 30px;
      width: 130px;
      height: 130px;
    }

    #about p {
      margin: 25px;
      font-size: 14px;
    }

    p {
      font-size: 13px;
      margin: 5px;
    }

    .map {
      width: 275px;
    }

    #footer p {
      font-size: small;
    }

    section#skills {
      padding: 0px;
      margin: 40px;
    }
  }
}
